<div class="container">
    <section class="hero is-info is-bold">
        <div class="hero-body">
            <h1 class="title">{{ title }}</h1>
            <h2 class="subtitle">This adds city to table 'Place'</h2>
        </div>
    </section>


    <div class="section">
        <form action="/" method="post" role="form" enctype="application/x-www-form-urlencoded">
            <div class="field">
                <label for="title">City</label>
                <div class="control">
                    <input type="text" class="input" name="title" id="title" placeholder="Title">
                </div>
            </div>
            <div class="field">
                <label for="country"></label>
                <div class="control">
                    <input type="text" class="input" name="country" id="country" placeholder="Country">
                </div>
            </div>
            <div class="control">
                <button type="submit" class="button is-info">Add Place!</button>
            </div>
        </form>
    </div>

</div>
