<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>



  <!-- Latest compiled and minified CSS & JS -->
  <link rel="stylesheet" media="screen" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.1/css/bulma.min.css">

  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  {{{body}}}
</body>

</html>