<div class="container">
    <section class="hero is-info is-bold">
        <div class="hero-body">
            <h1 class="title">{{ city }}</h1>
            <h2 class="subtitle">Welcome to {{city}}</h2>
        </div>
    </section>

</div>
